@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300&family=Sacramento&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header-title{
    background-image: url(./images/header-image.jpg);
    min-height: 150px;
    background-size: cover;
    background-position: center bottom;
    padding: 150px;
    margin: 0px;
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.nav-menu{
    background-color: #DF1616;
    padding: 5px;
    text-align: center;
}

.nav-link{
    color: white;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
    border-style: solid;
    border-radius: 16px;
    padding: 4px;
    display: inline-block;
    width: 100px;
}

footer{
    background-color: #313131;
    padding: 32px;
}


.footer-text{
    margin: 0px;
    color: white;
    font-size: 18px;
    text-align: center;
}

section{
    max-width: 800px;
    margin: auto;
    padding: 8px;
}

.home-image{
    width: 100%;
}

.price-table{
    border: solid;
}

.price-table td{
    border-style: solid;
    border-width: 1px;
}

.gallery-img{
    width: 32%;
}

.gallery-video{
    width: 100%;
    height: 400px;
}

.map{
    width: 100%;
    height: 400px;
}